body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#chat_data {
    /* border: 1px solid #d0d5dd; */
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    min-width: 100vh;
}

#meeting_index_container {
    width: 22%;
    max-height: 100vh;
    overflow-y: scroll;
}

#meet_id_container {
    padding: 1%;
    max-height: 100vh;
    overflow-y: scroll;
}

.chat-id-btn {
    margin-bottom: 12px;
    border: none;
    background: transparent;
    font-size: 16px;
    padding: 8px;
    width: 100%;
    text-align: left;
    border-radius: 6px;
    cursor: pointer;
}

.selected-chat-id-btn {
    background: #f3f4f6;
}

#meet_data_container {
    width: 78%;
    padding: 12px 24px;
    border-left: 1px solid #d0d5dd !important;
    max-height: 100vh;
    overflow-y: scroll;
}

/* Chat text box */
.chat-text-container {
    background: #f3f4f6;
    min-width: 90px;
    width: fit-content;
    max-width: 60%;
    border-radius: 6px;
    padding: 2px 10px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
}

.chat-text-right .chat-text-left {
    display: flex;
    flex-shrink: 0
}

.chat-text-left {
    margin-right: auto
}

.chat-text-right {
    /* margin-left: auto */
}

.chat-text-from {
    color: #202837;
    font-size: 14px;
    font-weight: 600;
    margin: 0 !important;
    padding-bottom: 6px;
}

.chat-text-msg {
    color: #202837;
    font-size: 12px;
    margin: 0 !important;
    padding-bottom: 12px;
}

.chat-text-time {
    color: #9da2a4;
    text-align: right;
    margin: 0 !important;
}
